@using Entity;
@model List<product>
@{ ViewBag.Title = "KBase 产品介绍";}
<div class="productcenter">
    <div class="productbanner"></div>
    <div class="main">
        <div class="leftmenu">
            <div>
                <ul>
                    @foreach (var m in Model)
                    {
                        <li><a href="#@m.Anchor">@m.Title</a></li>
                    }
                    @*<li><a href="#productinfo">软件介绍</a></li>
                    <li><a href="#function">功能特性</a></li>
                    <li><a href="#severobj">服务对象</a></li>
                    <li><a href="#screenshot">软件截图</a></li>*@
                </ul>
            </div>
        </div>
        <div class="rightcon">
            @foreach (var m in Model)
            {
                <div id="@m.Anchor" class="hd">@m.Title</div>
                <div class="bd">
                   @Html.Raw(m.Content)
                </div>
            }
            @*<div id="productinfo" class="hd">软件介绍</div>
            <div class="bd">
                <p>KBase知识库管理系统是清华同方知网（北京）技术有限公司（“同方知网”）拥有完全自主知识产权的，以管理海量非结构化数据对象为主，具备智能信息处理能力，以中文信息处理为特色的国产专用网格数据库管理系统，也是国际上第一个直接支持网格应用的专用数据库系统，对异构数据源提供统一访问和统一管理手段。</p>
                <p>KBase是“同方知网”集10多年在数据库管理系统、智能信息处理、数字图书馆等领域的研发经验和几代“CNKI”人的智慧研制成功的。</p>
                <p>KBase知识库管理系统性能稳定、功能完善、检索准确高效，可以广泛应用于高校、公共图书馆、医院、科研院所、大型企业、党政机关、中小学图书馆等。</p>
                <p>KBase目前“同方知网”在全球拥有4000多个基于KBase系统的中国期刊网（CNKI）镜像站点及（分）中心站点，每天进行千万人次的全文检索服务，全文数据量2T左右，日更新全文数据1GB左右。</p>
                <p>KBase除使用KBase直接提供信息服务之外，也面向数字图书馆领域开发了一系列基于KBase的应用软件，如清华同方TPI数字图书馆建设和管理平台、参考咨询系统等等，它们的市场占率都是同类产品中最高的，如TPI专业建库发布工具，在高校图书馆的市场占有率具有绝对的优势。</p>
            </div>
            <div id="function" class="hd">功能特性</div>
            <div class="bd">
                <p class="padlefbold">高效、准确的全文检索</p>
                <p>KBase全文检索速度高达500G/S，处于业界领先地位。同时，KBase基于先进的高维索引技术在国际上首次将相似检索功能真正做到了实用化水平: 速度高达百万级文献量毫秒级响应。</p>
                <p>KBase集成先进的全切分切词算法，很好地解决了歧义切分问题，可将“原子结合成分子”正确地切分成“原子/结合/成/分子”而不是“原子/结合/成分/子”，从而使KBase与同类产品相比具有更高的查准率、查全率。</p>
                <p>海量非结构化数据管理</p>
                <p>KBase具有强大的海量非结构化数据存储管理能力，单表管理的记录数可达40亿，单表管理的数据容量可达TB级（分区表可达PB级）。KBase 同时支持多机群集，实现数据的分布式存储。KBase作为CNKI工程的运营支撑平台，目前管理着全球最大的中文知识信息资源数据库，每天提供千万人次的信息检索服务，其优异的性能和稳定性，受到广大CNKI用户的广泛赞誉。</p>
                <p>功能强大的关系数据库全文检索网关</p>
                <p>KBase提供了对Oracle、DB2、SQL Server、Sybase、Informix等主流关系数据库管理系统（统称RDBMS）的全文检索网关，实现了RDBMS和KBase 服务器之间的数据共享和实时同步，使用户在享有RDBMS卓越的数据处理功能的同时，拥有KBase优秀的全文检索功能。基于KBase 关系数据库全文检索网关，可以整合多种异构数据源，实现企业级信息资源的统一搜索。</p>
                <p>大规模并发处理能力</p>
                <p>KBase支持多服务器群集，可将多个独立的KBase服务器虚拟整合成一个整体，实现高效的分布式计算，大大提高系统的并发处理能力。</p>
                <p>先进的中文智能信息处理能力</p>
                <p>KBase拥有超过500万词汇量的、大百科式的概念关系词典，集成Smart TextMiner文本挖掘引擎和NLP自然语言处理引擎，可提供自动分类、自动聚类、关键词自动标引、自动文摘、信息过滤、关联规则挖掘等多种实用功能。</p>
                <p>易用的检索语言</p>
                <p>KBase充分考虑用户使用习惯，提供类似SQL的查询语言—KSQL，设计更加人性化。</p>
                <p>完整的应用开发接口</p>
                <p>KBase提供.Net组件、COM组件、Java组件、ODBC、ADO等数据库访问接口，并且针对有较高底层开发要求的用户提供完整的二次开发接口。KBase 同时支持Z39.50、OAI、OpenURL等访问接口。</p>
                <p>支持多种编码</p>
                <p>KBase提供对 GB2312、BIG5、GBK、GK18030、UNICODE等多种编码的直接支持。</p>
            </div>
            <div id="severobj" class="hd">服务对象</div>
            <div class="bd">
                <p>KBase 解决了非结构化信息处理的基本问题，可用于任何处理非结构化信息的行业应用，如数字图书馆、数字档案馆、电子政务、企业搜索、知识管理、内容管理、情报分析、互联网不良信息监控、信息资源开发利用、门户建设等等。</p>
            </div>

            <div id="screenshot" class="hd">软件截图</div>
            <div class="bd">
                <p>企业管理器截图</p>
                <div style="width:650px;margin:0 auto;">
                    <img src="@(AppConfig.ImagesPath)manage.png" style="width:650px">
                </div>
                <p>QBE截图</p>
                <div style="width:650px;margin:0 auto;">
                    <img src="@(AppConfig.ImagesPath)qbe.png" style="width:650px">
                </div>
            </div>*@

        </div>

        <div style="clear:both"></div>
    </div>

</div>
